In [1]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [2]:
saldf=pd.read_excel('/content/drive/MyDrive/easy names.xlsx')

In [3]:
saldf.head()

  Student Name  Mark (out of 100)  Study Hours (per week)
0          Ben                 88                      15
1          Sam                 72                      10
2          Lee                 95                      20
3          Ann                 81                      12
4          Max                 65                       8

In [4]:
saldf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Student Name            15 non-null     object
 1   Mark (out of 100)       15 non-null     int64
 2   Study Hours (per week)  15 non-null     int64
dtypes: int64(2), object(1)
memory usage: 492.0+ bytes

In [5]:
saldf.isnull().sum()

Student Name              0
Mark (out of 100)         0
Study Hours (per week)    0
dtype: int64

In [6]:
saldf.dropna(inplace=True)

In [12]:
inp = saldf[['Mark (out of 100)']]
out = saldf['Study Hours (per week)']

In [9]:
LR = LinearRegression()

In [19]:
LR.fit(inp, out)
LR.predict([[92]])

/usr/local/lib/python3.12/dist-packages/sklearn/utils/validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([18.31962748])